*{
    margin: 0;
    padding: 0;
} 

.container{
    height:70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.m-items{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    font-size: 1rem;
    font-weight: 600;   
}

select{
    border:none;
    width:20px
}

.logo{
    font-size: 2rem;
    font-weight: bold;
}

.r-items{
    display: flex;
    gap: 10px;
}

.h-container{
    
    height:60vh;
    width: 100%;
    background-color: #eee6cc;    
}

.h-img{
    height: 100%;
 } 

 .content{
    display: flex;
    height:60vh;
    justify-content: space-around;
}

.let-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.let-content h1{
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    font-size: 3rem;
    padding-bottom: 20px;
}

.let-content p{
    color:grey;
}

.btn{
    margin-top: 10px;
    cursor: pointer;
    background-color: orangered;
    color: white;
    text-align: center;
    line-height: 45px;
    border:none;
    width: 100px;
    border-radius:0.5rem;   
}

.feature-content{
    width: 100%;
    height: 100px;
    background: #f3f1ea;
    display: flex;
    justify-content:space-around;
    margin-top: 10px;
    align-items: center;   
}

.rt-feat{
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.rt-feat :hover{
    color: orangered;
}

.help{
    width: 84%;
    display: flex;
    justify-content: space-between;
}

.rt-feat .btn{
 width: 150px;
 margin: 5px;
 justify-content: center; 
}

.rt-feat .btn:hover{
  color: white;
}

.left-feat{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.i-container{
    height:100vh;
    margin: 10px 50px 50px 50px;
    display: grid;
}

.item-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    place-items: center;
}

.f-card{
    width: 200px;
    height: 310px;
    justify-content: space-around;
    background-color:whitesmoke;
    border-radius: 0.5rem;  
}

.f-card p{
    text-align: center;
    margin-top: 10px;
}

.f-card img{
    width: 200px;
    height: 200px;
    border-radius: 0.5rem;
}

.b-section{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;   
}

.b-section img{
  width: 30px;
  height: 30px;
  line-height: 0px;
}

.b-container{
    width: 100%;
    height: 90vh;
    display: grid;
}

.b-content{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    place-items: center;   
}

.card-1,.card-2{
    width: 500px;
    height: 78%;
    background: whitesmoke;
    border-radius: 0.7rem;
    margin-top: 0;      
}

.card-1 img{
   width: 100%;
   height: 60%;
   border-radius: 0.7rem;  
}

.card-2 img{
    width: 100%;
    height: 60%;
    border-radius: 0.7rem;
 }
 
 .b-content p{
    margin-top: 20px;
   text-align: center;
 }
 
 .rev-btn{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top:50px;
    padding-bottom: 10px;
 }

 .foot-container{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    background: #eee6cc;
}

.cont{
    
    width: 87%;
    display: flex;
    justify-content: space-between;
}

.f-logo{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.f-logo span{
    font-size: 2.5rem;
    font-weight: bold;
}

.f-logo p{
    font-weight: 600;
    cursor: pointer;
}

.book-table{

    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 20px;
}

.book-table p{
    font-size: 2rem;
}

.frm{
 height:30px;
 width:200px;
 background: #eee6cc;
 border: none;
 border-radius: 0.3rem;

}

.bo-btn{
    width: 100px;
    height: 30px;
    border: none;
    background: orangered;
    color: white;
    border-radius: 0.2rem;
    cursor: pointer;
}



